<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682703959244-d4s6q4t9mi26hsbojfqkdak324orb4rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682703959244-d4s6q4t9mi26hsbojfqkdak324orb4rd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682703959244-9qppkhmmtdt0n0tf3tkq5f6atc137scd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHYuan0Qhy6iCECoah_MdqzXrsRt-Pyik</string>
	<key>GCM_SENDER_ID</key>
	<string>682703959244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glare.glarePhotographerApp</string>
	<key>PROJECT_ID</key>
	<string>glare-d667a</string>
	<key>STORAGE_BUCKET</key>
	<string>glare-d667a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682703959244:ios:04195c70ad323944b87e69</string>
</dict>
</plist>